@charset "UTF-8";
@import  "https://fonts.googleapis.com/css?family=Raleway:100,300,600";
body, html {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: "Raleway",Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-size: 62,5%;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: block;
}

.row {
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    flex-wrap: wrap;
}

.col-4 {
    /* width: calc(30%-30px); */
    width: 30%;
}

.col-3 {
    width: calc(25% - 40px);
}

.col-6 {
    width: calc(50% - 30px);
}
.background {
    height: 65vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.background img {
    width: 100%;
    background-size: cover;
}

/* .content {
    position: absolute;
} */

.content .menu {
    display: flex;
    padding-top: 50px;
    width: 100%;
    justify-content: space-between;
}

.content .menu .left,
.content .menu .right {
    display: flex;
}

.content .menu .left a,
.content .menu .right a{
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
}

.content .menu .right a {
    color: #d4e0ef;
    padding-left:1rem;
    font-weight: 100;
}

.content .menu .right span {
    color: #d4e0ef;
    display: none;
    cursor: pointer;
}

.menu-mobile {
    width: 280px;
    padding: 20px 20px;
    background-color: #1b95e0;
    height: 100%;
    position: fixed;
    z-index: 2;
    top :0;
    right: -320px;
    /* display: none; */
    transition:right ease-in-out 0.25s;
}

.menu-mobile .right {
    position: relative;
}

.menu-mobile .btn-close {
    position: absolute;
    cursor: pointer;
    top: 17px;
    right: 7px;
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    color: #d4e0ef;
}
.menu-mobile .right a{
    text-decoration: none;
    display: block;
    padding: .5rem;
    color: #d4e0ef;
}

.menu-mobile .right a:not(:last-child) {
    border-bottom: 1px solid #d4e0ef;
}
/* banner */

.content .banner {
    padding: 5rem 0;
    text-align: center;
}

.content .banner h1 {
    color: #ffffff;
    font-size: 3.5rem;
    font-weight: 100;
    line-height: 1rem;
    margin-bottom: 3rem;
}

.content .banner p {
    color: #d4e0ef;
}

/* wrapper */

.wrapper {
    display: flex;
    background-color: #ffffff;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.wrapper .row .col-4 h3 {
    color: #5385c1;
    font-weight: 300;
    line-height: 1.5;
    margin: 0 0 1em 0;
}

.wrapper .row .col-4 p {
    margin: 0 0 2em 0;
    vertical-align: baseline;
    color: #9a9a9a;
}

.wrapper .row .col-4 a {
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    height: 2.85em;
    line-height: 2.95rem;
    padding: 0 1.5rem;
    text-align: center;
    text-decoration: none;
    background-color: #5385c1;
    color: #ffffff !important;
}

.wrapper .row .col-4:not(:last-child) {
    border-right: 1px solid #dbdbdb;
}

.wrapper .row .col-4:nth-child(1)>div{
    width: 90%;
}

.wrapper .row .col-4:nth-child(2)>div{
    width: 90%;
}

.wrapper .row .col-4:nth-child(3)>div{
    width: 90%;
}

/* people */
.feugiat {
    text-align: center;
    padding-bottom: 3rem;
    color: #ffffff;
}

.feugiat h2 {
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 100;
}

.people {
    background-color: #5385c1;
    padding: 3rem 0;
}

.col-3 {
    width: calc(25% - 40px);
}

.col-3 img {
    width: 100%;
    border-radius: 100%;
    /* clip-path: circle(20.1% at 48% 50%); */

}

.people__desc {
    padding: 2rem 1rem;
    border: 1px solid #ffffff;
    text-align: center;
}

.people__name {
    color: #FFF;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 5px;
    font-weight: 100;
}

.people__detail {
    color: #FFF;
    text-align: center;
    display:inline-block;
    text-decoration: none;
}

.design {
    padding: 5rem 0;
    background-color: #ffffff;
}

.design__name {
    text-align: center;
    color: #1b95e0;
}

.design__name h2 {
    font-weight: 100;
    font-size: 2.5rem;
}

.design__name p {
    color: #999999;
    margin: 20px 0 50px;

}

.design__detail {
    margin-bottom: 2rem;
}

.design__detail img {
    width: 100%;
    background-size: cover;
}

.col-6 h3 {
    color: #5385c1;
    font-weight: 300;
    line-height: 1.5;
    margin: 0 0 1em 0;
}

.col-6 p {
    margin: 0 0 2em 0;
    vertical-align: baseline;
    color: #9a9a9a;
}

.col-6 a {
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    height: 2.85em;
    line-height: 2.95rem;
    padding: 0 1.5rem;
    text-align: center;
    text-decoration: none;
    background-color: #5385c1;
    color: #ffffff !important;
}

.footer { 
    border-top: 1px solid #dbdbdb;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.footer_left {
    color: #999999;
}

.footer_left a {
    color: #999999;
    text-decoration: none;
}

.footer-list {
    display: flex;
    list-style: none;
}

.footer-item {
    margin-left: 1rem;
}

.footer-item a i {
    color: #1b95e0;
}
